
.rueda{
  width: 85px;
  height: 85px;
  margin-left: 90px;
  margin-top: 30px;
}
.ruedaa{
  width: 85px;
  height: 85px;
  margin-left: 90px;
}

.centrado{
  text-align: center;
  margin-top: 20px;
}

.margen{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.soy{
  margin-left: 27px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
.rec{
  margin-left: 15px;
    color: rgb(43, 58, 192);
}
ion-title{
text-align: center;
-webkit-text-stroke: 0.5px rgb(245, 245, 245);
color: black;
}

