.rueda{
  width: 85px;
  height: 85px;
  margin-left: 90px;
  margin-top: 30px;
}
.centrado{
  text-align: center;
}

.margen{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.soy{
  margin-left: 27px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
.rec{
  margin-left: 15px;
  color: honeydew;
}
ion-title{
text-align: center;
-webkit-text-stroke: 0.5px rgb(245, 245, 245);
color: black;
}



