<ion-header>
  <ion-toolbar class="blanco">
    <ion-title>Registrar datos</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title class="blanco" size="large">Registrar datos</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-card>
    
        <ion-card-content class="blanco">

          <ion-item class="blanco">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" placeholder="Ej: Pedro" #txtUsuario></ion-input>
          </ion-item>
          <ion-item class="blanco">
            <ion-label position="floating">Clave</ion-label>
            <ion-input type="password" placeholder="*******" #txtClave></ion-input>
          </ion-item>
          <ion-item class="blanco">
            <ion-label position="floating">Rut</ion-label>
            <ion-input type="text" placeholder="12233233-1" #txtRut></ion-input>
          </ion-item>

          <div *ngIf=usuario>
            <ion-text class="negro">
              <h2 class="ion-text-left">Usuario:</h2>
              <h1 class="ion-text-left">{{usuario}}</h1>
            </ion-text>
            <ion-text class="negro">
              <h2 class="ion-text-left">-------------------------------</h2>
            </ion-text>
            <ion-text class="negro">
              <h2 class="ion-text-left">Clave:</h2>
              <h1 class="ion-text-left">{{clave}}</h1>
            </ion-text>
            <ion-text class="negro">
              <h2 class="ion-text-left">-------------------------------</h2>
            </ion-text>
            <ion-text class="negro">
              <h2 class="ion-text-left">Rut:</h2>
              <h1 class="ion-text-left">{{rut}}</h1>
            </ion-text>
          </div>

          <div *ngIf="lista.length >0">  
            <ion-list>
              <div *ngFor="let item of lista">
                <ion-item class="blanco">
                  <ion-label>Usuario : {{item[0].usuario}}</ion-label>
                </ion-item>
                <ion-item class="blanco">
                  <ion-label>Clave : {{item[0].clave}}</ion-label>
                </ion-item>
                <ion-item class="blanco">
                  <ion-label>Rut : {{item[0].rut}}</ion-label>
                </ion-item>
              --------------------------------------
              </div>
            </ion-list>
          </div>


        </ion-card-content>
      </ion-card>
    </ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-button (click)="agregar(txtUsuario, txtClave, txtRut)">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

    <ion-button (click)="buscar(txtUsuario)">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>

    <ion-button (click)="eliminar(txtUsuario)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>

    <ion-button (click)="actualizar(txtUsuario, txtClave, txtRut)">
      <ion-icon slot="icon-only" name="repeat"></ion-icon>
    </ion-button>

    <ion-button (click)="listar()">
      <ion-icon slot="icon-only" name="list"></ion-icon>
    </ion-button>

    <ion-button (click)="con(txtUsuario, txtClave)">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>

    <ion-button color="danger" [routerLink]="['/home']"> Cerrar Sesion
    </ion-button>
  
  </ion-toolbar>
</ion-footer>