<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="ruedaa">
    <img src="https://cdn140.picsart.com/370036899027201.png?type=webp&to=min&r=640" />
</div>

 <p></p>
<div class="centrado">
  <h1>Bienvenido</h1>
</div>

<div class="centrado">
  <ion-button color="light" class="botones"  [routerLink] ="['/ini-cond'  ]"> Iniciar como conductor</ion-button>
  <ion-button color="light" class="botones2" [routerLink] ="['/ini-pasa' ]"> Iniciar como pasajero</ion-button>
</div>





</ion-content>

<div class="centrado">
  <ion-button color="light" class="botones3" [routerLink] ="['/registrar']">CRUD</ion-button>  
  <ion-button color="light" class="botones2" [routerLink] ="['/posts' ]">Uso API</ion-button>
</div>